@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212121;
  color: white;
}
html {
  scroll-behavior: smooth;
}
img {
  object-fit: contain;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

/* header */

.navigation {
  position: fixed !important;
  width: 100%;
  z-index: 99;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
  font-family: "Playwrite AU SA", cursive;
}
.navbar-toggler {
  background-color: #ffffff !important;
  border: none;
  color: white !important;
}

/* single html */

.bgImage {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.single__container {
  color: rgb(255, 255, 255);
  padding-top: 120px;
}
.title {
  font-size: 45px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Playwrite AU SA", cursive;
}

.overview {
  font-style: italic;
  padding-top: 20px;
}
.contentSingle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.contentChild {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleOfSpan {
  font-size: 30px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
}
.secondarySpan {
  color: white;
  font-size: 15px;
}

/* actors */

.actors__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#actorsParent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#actorsParent img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.actorsDesc {
  margin-top: 8px;
}

.actorsDesc span {
  font-size: 14px;
  color: white;
  text-align: center;
}
#character {
  color: grey;
}

/* footer */
#footer {
  background-color: rgba(33, 37, 41, 1);
  color: white;
  height: 100%;
  padding-bottom: 30px;
}
.footer__container {
  margin-top: 150px;
}
.footer__container a {
  color: white;
}
.mainLink {
  font-weight: 500;
  font-size: 20px;
}
.childLinks {
  margin-top: 25px;
  gap: 10px;
}
.childLinks li {
  font-size: 15px;
  font-weight: 400;
  padding-top: 15px;
}
.footerParent {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
}
.note {
  font-size: 17px;
  font-weight: 500;
}
.downloadParent {
  gap: 20px;
  display: flex;
  align-items: center;
}
.downloadParent button {
  background-color: #dc5f00;
  width: 200px;
  height: 61px;
  color: white;
  border: none;
  padding-top: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  text-align: start;
  justify-content: flex-start;
  font-weight: 500;
}
.downloadParent span {
  font-size: 15px;
  line-height: 1.2;
}
.icons {
  font-size: 25px;
  cursor: pointer;
}
#socialMediaParent {
  padding-top: 73px;
}
.iconsParent i {
  padding-left: 20px;
}
.line {
  height: 3px;
  margin-top: 97px;
  width: 100%;
  background-color: white;
}
.line p {
  padding-top: 25px;
}
/* footer */

/* iframe */

.iframe__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  overflow: hidden;
  text-align: center;
}
.iframeParent {
  position: relative;
}
.ytBtn {
  position: absolute;
  left: 45%;
  top: 45%;
  cursor: pointer;
}

.fa-youtube {
  color: red;
  font-size: 70px;
  text-shadow: 2px 3px 2px #000000;
}
/* iframe */

/* pop up*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.747);
  z-index: 999;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: #fff;
  z-index: 1000;
  overflow: hidden;
  border-radius: 8px;
  animation: popupAnimation 0.5s ease forwards;
}

@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.popup iframe {
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

.fa-xmark {
  cursor: pointer;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 20px;
}
